*{
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
   
    top:15px;
    left:10px;
    height: 50px;
    width:300px;
    background:white ;
    text-align: center;
    cursor:pointer;
    transition: left 0.4s ease;
    display: flex;
    padding:3px;
    gap:20px
}
i{
    padding:20px;
}
.btn.click{
    left:260px; 
}
.btn span{
    color:black;
    font-size: 20px;
    line-height: 45px;
}
.btn span:hover{
    border-radius: 100%;
}
.sidebar{
    position: fixed;
    width:250px;
    height: 100%;
    left:-250px;
    background: white;
    transition: left 0.4s ease;
}

.sidebar.show{
    left:0px;
}



.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}

nav ul{
    background: white;
    height: 50%;
    width:100%;
    list-style: none;

}
nav ul li{
    line-height: 60px;
}
.m{
    border-bottom: 0.5px solid grey;

}
nav ul li a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left:3px solid transparent;

}
nav ul li a:hover{
   
    background: rgb(212, 210, 210);
    border-left-color: cyan;

}
nav ul ul{
    position:static;
    display: none;
}
nav ul .feat-show.show{
    display: block;
}
nav ul .feat1-show.show1{
    display: block;

}
nav ul .feat2-show.show2{
    display: block;

}
nav ul ul li{
    line-height: 42px;
    border-bottom:none;
}
nav ul ul li a{
    font-size: 14px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li a span{
    position:absolute;
    padding:20px;
    margin-top:30px;
    right:20px;
    transform: translateY(-50%);
    font-size: 18px;
    transition: transform 0.4s;
}
nav ul li a span:hover{
    transform: translateY(-50%) rotate(-180deg);
    color: cyan;
}

